.collapseItem {
  padding: 10px;


}
.bright {
  background-color: white;
  span {
    color: #0069d9;
  }

}
.dark {
  background-color: slategrey;
  span {
    color: white;
  }

}
.choosen {
  background-color: #007bff;
  span {
    color: white;
  }
}